{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>SPEAK</h3>
                <p>Click to visit</p>
            </div>
            <div class="icon">
                <i class="fas fa-th"></i>
            </div>
            <a href="https://linkoffice365.sharepoint.com/sites/PARAGRAPH/SitePages/SPEAK.aspx" class="small-box-footer" target="_blank">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>Modus Operandi</h3>
                <p>Click to visit</p>
            </div>
            <div class="icon">
                <i class="fas fa-copy"></i>
            </div>
            <a href="https://linkoffice365.sharepoint.com/sites/PARAGRAPH/SitePages/MODUS-OPERANDI.aspx?Mode=Edit" class="small-box-footer" target="_blank">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
{% endblock %}
